#contact-form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}