.stat-box {
    color: white;
    list-style: none;
    background-color: rgba(175, 14, 81, 0.666);
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    position: absolute;
    right: 0;
    margin-right: 3em;
    padding: 2em 2em;
    border-radius: 0.5rem;
    gap: 5px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
}

.level ul {
    margin-left: 1em;
    width: 80%;
    height: 0.5em;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.level ul > li {
    background-color: rgb(255, 125, 146);
    height:100%;
    width: 9%;
}

.style-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.style-buttons button{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 192, 203, 0.895);
}

.description {
    overflow-y: scroll;
}